In [2]:
#Transforming and Loading Student Load Debt data from excel.
import pandas as pd
from sqlalchemy import create_engine
debt_data = 'extracted_student_loan_data.xlsx'
engine = create_engine('postgresql://<USERNAME>:<PASSWORD>@localhost:5432/mydb')

In [3]:
#Read excel. Store in a data frame.
county_debt = pd.read_excel(debt_data,
sheet_name="Student Loan Debt - County",
header=0,
index_col=False,
keep_default_na=True
)

state_debt = pd.read_excel(debt_data,
sheet_name="Student Loan Debt - State, US",
header=0,
index_col=False,
keep_default_na=True
)
type(county_debt)

pandas.core.frame.DataFrame

In [4]:
#Test.
county_debt.head()
state_debt.head()

,State,Share with student loan debt,Share with student loan debt.1,Share with student loan debt.2,Unnamed: 4,Median student loan debt,Median student loan debt.1,Median student loan debt.2,Unnamed: 8,Share student loan holders with student loan debt in collections,...,Unnamed: 24,Nonwhite population share,Unnamed: 26,Share without a bachelor's degree,Share without a bachelor's degree.1,Share without a bachelor's degree.2,Unnamed: 30,Average household income,Average household income.1,Average household income.2
0,State,Overall,White areas,Nonwhite areas,NaN,Overall,White areas,Nonwhite areas,NaN,Overall,...,NaN,NaN,NaN,Overall,White,Nonwhite,NaN,Overall,White,Nonwhite
1,Alabama,0.14,0.13,0.18,NaN,17000,16526,16770,NaN,0.16,...,NaN,0.34,NaN,0.76,0.73,0.82,NaN,62307.3,69916.7,45542.3
2,Alaska,0.14,0.14,0.11,NaN,14231,14316,14250,NaN,0.15,...,NaN,0.39,NaN,0.7,0.63,0.84,NaN,92875.9,99587.1,76386.9
3,Arizona,0.16,0.15,0.14,NaN,15992,17625,12480,NaN,0.17,...,NaN,0.44,NaN,0.72,0.66,0.83,NaN,70637.7,78061.2,56253.7
4,Arkansas,0.15,0.15,0.19,NaN,15126,14989.5,15675,NaN,0.17,...,NaN,0.27,NaN,0.78,0.76,0.84,NaN,59274.7,63886.7,43748.5

In [5]:
#Dropping NAs and irrelevant columns for county data.
county_debt = county_debt.dropna(axis=1,how='all')
county_debt = county_debt.drop(columns=['Nonwhite population share'])

county_debt.head()

,County,State,Share with student loan debt,Share with student loan debt.1,Share with student loan debt.2,Median student loan debt,Median student loan debt.1,Median student loan debt.2,Share student loan holders with student loan debt in collections,Share student loan holders with student loan debt in collections.1,...,Median monthly student loan payment.2,Share people with a credit record who have student loan debt in collections,Share people with a credit record who have student loan debt in collections.1,Share people with a credit record who have student loan debt in collections.2,Share without a bachelor's degree,Share without a bachelor's degree.1,Share without a bachelor's degree.2,Average household income,Average household income.1,Average household income.2
0,County,State,Overall,White areas,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White areas,...,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White,Nonwhite,Overall,White,Nonwhite
1,Autauga County,Alabama,0.16,0.17,n/a*,19441,19700,n/a*,0.17,0.15,...,n/a*,0.03,0.03,n/a*,0.77,0.75,0.84,64765,69780,45981
2,Baldwin County,Alabama,0.14,0.14,n/a*,13964,14000,n/a*,0.14,0.13,...,n/a*,0.02,0.02,n/a*,0.71,0.69,0.79,73408,75745,56869
3,Barbour County,Alabama,0.1,n/a*,n/a*,n/a*,n/a*,n/a*,0.16,n/a*,...,n/a*,0.02,n/a*,n/a*,0.87,0.81,0.94,44688,56667,32238
4,Bibb County,Alabama,0.11,0.11,0.09,n/a*,n/a*,n/a*,0.17,0.1,...,n/a*,0.02,0.01,0.06,0.89,0.89,0.9,52241,55419,38111

In [6]:
#Dropping NAs and irrelevant columns for state data.
state_debt = state_debt.dropna(axis=1,how='all')
state_debt = state_debt.drop(columns=['Nonwhite population share'])

state_debt.head()

,State,Share with student loan debt,Share with student loan debt.1,Share with student loan debt.2,Median student loan debt,Median student loan debt.1,Median student loan debt.2,Share student loan holders with student loan debt in collections,Share student loan holders with student loan debt in collections.1,Share student loan holders with student loan debt in collections.2,...,Median monthly student loan payment.2,Share people with a credit record who have student loan debt in collections,Share people with a credit record who have student loan debt in collections.1,Share people with a credit record who have student loan debt in collections.2,Share without a bachelor's degree,Share without a bachelor's degree.1,Share without a bachelor's degree.2,Average household income,Average household income.1,Average household income.2
0,State,Overall,White areas,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White areas,Nonwhite areas,...,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White,Nonwhite,Overall,White,Nonwhite
1,Alabama,0.14,0.13,0.18,17000,16526,16770,0.16,0.13,0.25,...,144,0.02,0.02,0.04,0.76,0.73,0.82,62307.3,69916.7,45542.3
2,Alaska,0.14,0.14,0.11,14231,14316,14250,0.15,0.15,0.16,...,168.5,0.02,0.02,0.02,0.7,0.63,0.84,92875.9,99587.1,76386.9
3,Arizona,0.16,0.15,0.14,15992,17625,12480,0.17,0.14,0.24,...,130,0.03,0.02,0.03,0.72,0.66,0.83,70637.7,78061.2,56253.7
4,Arkansas,0.15,0.15,0.19,15126,14989.5,15675,0.17,0.15,0.23,...,146,0.03,0.02,0.04,0.78,0.76,0.84,59274.7,63886.7,43748.5

In [7]:
#Changing header level.
headers = county_debt.iloc[0]
headers

#Defining new master data frame.
dfc = pd.DataFrame(county_debt.values[1:], columns=headers)
dfc.head()

,County,State,Overall,White areas,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White areas,...,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White,Nonwhite,Overall,White,Nonwhite
0,Autauga County,Alabama,0.16,0.17,n/a*,19441,19700,n/a*,0.17,0.15,...,n/a*,0.03,0.03,n/a*,0.77,0.75,0.84,64765,69780,45981
1,Baldwin County,Alabama,0.14,0.14,n/a*,13964,14000,n/a*,0.14,0.13,...,n/a*,0.02,0.02,n/a*,0.71,0.69,0.79,73408,75745,56869
2,Barbour County,Alabama,0.1,n/a*,n/a*,n/a*,n/a*,n/a*,0.16,n/a*,...,n/a*,0.02,n/a*,n/a*,0.87,0.81,0.94,44688,56667,32238
3,Bibb County,Alabama,0.11,0.11,0.09,n/a*,n/a*,n/a*,0.17,0.1,...,n/a*,0.02,0.01,0.06,0.89,0.89,0.9,52241,55419,38111
4,Blount County,Alabama,0.1,0.1,n/a*,11128,11128,n/a*,0.2,0.2,...,n/a*,0.02,0.02,n/a*,0.87,0.86,0.94,54884,56150,40938

In [8]:
#Changing header level.
headers = state_debt.iloc[0]
headers

#Defining new master data frame.
dfs = pd.DataFrame(state_debt.values[1:], columns=headers)
dfs.head()

,State,Overall,White areas,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White areas,Nonwhite areas,...,Nonwhite areas,Overall,White areas,Nonwhite areas,Overall,White,Nonwhite,Overall,White,Nonwhite
0,Alabama,0.14,0.13,0.18,17000,16526,16770,0.16,0.13,0.25,...,144,0.02,0.02,0.04,0.76,0.73,0.82,62307.3,69916.7,45542.3
1,Alaska,0.14,0.14,0.11,14231,14316,14250,0.15,0.15,0.16,...,168.5,0.02,0.02,0.02,0.7,0.63,0.84,92875.9,99587.1,76386.9
2,Arizona,0.16,0.15,0.14,15992,17625,12480,0.17,0.14,0.24,...,130,0.03,0.02,0.03,0.72,0.66,0.83,70637.7,78061.2,56253.7
3,Arkansas,0.15,0.15,0.19,15126,14989.5,15675,0.17,0.15,0.23,...,146,0.03,0.02,0.04,0.78,0.76,0.84,59274.7,63886.7,43748.5
4,California,0.12,0.12,0.12,15798,18218,14058,0.13,0.09,0.16,...,151,0.02,0.01,0.02,0.68,0.58,0.75,91757.1,107227,77126.3

In [9]:
#Maintaining original headers by storing in a list. KateColumns is the list of all debt metric categories.
KateColumns = list(county_debt.columns.values)

#Creating separate data frames for each category, and storing them into Postgresql tables.

with engine.connect() as con:
    con.execute("DROP SCHEMA IF EXISTS public CASCADE")
    con.execute('CREATE SCHEMA public')

#County data load.
n=0
print("BEGIN COUNTY DATA LOAD.")
for x in range(2, 24, 3):
        n += 1
        y = x+1
        z = y+1
        str(n)
        data_n = pd.DataFrame({'county' : dfc['County'], 
                                'state' : dfc['State'],
                            'overall': dfc.iloc[:,x ],
                            'white_areas': dfc.iloc[:,y],
                            'nonwhite_areas': dfc.iloc[:,z]})
        
        table_name = 'co_'+ KateColumns[x].replace(" ", "_").lower()
        
        data_n.to_sql(name=table_name[:50], con=engine, if_exists='append', index=False)
        
        print('')
        print(str(KateColumns[x]) + ":")
        print('')
        print(data_n.head())
        print('_____________________________________________________________ ')

print("END COUNTY DATA LOAD.")
print("--------------------------------------------")
print("BEGIN STATE DATA LOAD.")
#State data load.
KateColumns = list(state_debt.columns.values)
for x in range(1, 24, 3):
        n += 1
        y = x+1
        z = y+1
        str(n)
        data_n = pd.DataFrame({'state' : dfs['State'],
                            'overall': dfs.iloc[:,x ],
                            'white_areas': dfs.iloc[:,y],
                            'nonwhite_areas': dfs.iloc[:,z]})
        
        table_name = 'st_' + KateColumns[x].replace(" ", "_").lower()
        
        data_n.to_sql(name=table_name[:50], con=engine, if_exists='append', index=False)
        
        print('')
        print(str(KateColumns[x]) + ":")
        print('')
        print(data_n.head())
        print('_____________________________________________________________ ')

print("END STATE DATA LOAD.")

BEGIN COUNTY DATA LOAD.

Share with student loan debt:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama    0.16        0.17           n/a*
1  Baldwin County  Alabama    0.14        0.14           n/a*
2  Barbour County  Alabama     0.1        n/a*           n/a*
3     Bibb County  Alabama    0.11        0.11           0.09
4   Blount County  Alabama     0.1         0.1           n/a*
_____________________________________________________________

Median student loan debt:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama   19441       19700           n/a*
1  Baldwin County  Alabama   13964       14000           n/a*
2  Barbour County  Alabama    n/a*        n/a*           n/a*
3     Bibb County  Alabama    n/a*        n/a*           n/a*
4   Blount County  Alabama   11128       11128           n/a*
_____________________________________________________________

Share student loan holders with student loan debt in collections:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama    0.17        0.15           n/a*
1  Baldwin County  Alabama    0.14        0.13           n/a*
2  Barbour County  Alabama    0.16        n/a*           n/a*
3     Bibb County  Alabama    0.17         0.1            0.6
4   Blount County  Alabama     0.2         0.2           n/a*
_____________________________________________________________

Median student loan debt in collections:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama    n/a*        n/a*           n/a*
1  Baldwin County  Alabama    8030        7890           n/a*
2  Barbour County  Alabama    n/a*        n/a*           n/a*
3     Bibb County  Alabama    n/a*        n/a*           n/a*
4   Blount County  Alabama    n/a*        n/a*           n/a*
_____________________________________________________________

Median monthly student loan payment:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama     215         221           n/a*
1  Baldwin County  Alabama     162         164           n/a*
2  Barbour County  Alabama    n/a*        n/a*           n/a*
3     Bibb County  Alabama    n/a*        n/a*           n/a*
4   Blount County  Alabama     129         129           n/a*
_____________________________________________________________

Share people with a credit record who have student loan debt in collections:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama    0.03        0.03           n/a*
1  Baldwin County  Alabama    0.02        0.02           n/a*
2  Barbour County  Alabama    0.02        n/a*           n/a*
3     Bibb County  Alabama    0.02        0.01           0.06
4   Blount County  Alabama    0.02        0.02           n/a*
_____________________________________________________________

Share without a bachelor's degree:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama    0.77        0.75           0.84
1  Baldwin County  Alabama    0.71        0.69           0.79
2  Barbour County  Alabama    0.87        0.81           0.94
3     Bibb County  Alabama    0.89        0.89            0.9
4   Blount County  Alabama    0.87        0.86           0.94
_____________________________________________________________

Average household income:

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama   64765       69780          45981
1  Baldwin County  Alabama   73408       75745          56869
2  Barbour County  Alabama   44688       56667          32238
3     Bibb County  Alabama   52241       55419          38111
4   Blount County  Alabama   54884       56150          40938
_____________________________________________________________
END COUNTY DATA LOAD.
--------------------------------------------
BEGIN STATE DATA LOAD.

Share with student loan debt:

        state overall white_areas nonwhite_areas
0     Alabama    0.14        0.13           0.18
1      Alaska    0.14        0.14           0.11
2     Arizona    0.16        0.15           0.14
3    Arkansas    0.15        0.15           0.19
4  California    0.12        0.12           0.12
_____________________________________________________________

Median student loan debt:

        state overall white_areas nonwhite_areas
0     Alabama   17000       16526          16770
1      Alaska   14231       14316          14250
2     Arizona   15992       17625          12480
3    Arkansas   15126     14989.5          15675
4  California   15798       18218          14058
_____________________________________________________________

Share student loan holders with student loan debt in collections:

        state overall white_areas nonwhite_areas
0     Alabama    0.16        0.13           0.25
1      Alaska    0.15        0.15           0.16
2     Arizona    0.17        0.14           0.24
3    Arkansas    0.17        0.15           0.23
4  California    0.13        0.09           0.16
_____________________________________________________________

Median student loan debt in collections:

        state overall white_areas nonwhite_areas
0     Alabama  7172.5      7942.5           6799
1      Alaska  7448.5        8969           n/a*
2     Arizona    7076        8175           6066
3    Arkansas    8527        8436         9233.5
4  California    9526       11395           9003
_____________________________________________________________

Median monthly student loan payment:

        state overall white_areas nonwhite_areas
0     Alabama     156         155            144
1      Alaska     165         160          168.5
2     Arizona     158         174            130
3    Arkansas     151         152            146
4  California     169         190            151
_____________________________________________________________

Share people with a credit record who have student loan debt in collections:

        state overall white_areas nonwhite_areas
0     Alabama    0.02        0.02           0.04
1      Alaska    0.02        0.02           0.02
2     Arizona    0.03        0.02           0.03
3    Arkansas    0.03        0.02           0.04
4  California    0.02        0.01           0.02
_____________________________________________________________

Share without a bachelor's degree:

        state overall white_areas nonwhite_areas
0     Alabama    0.76        0.73           0.82
1      Alaska     0.7        0.63           0.84
2     Arizona    0.72        0.66           0.83
3    Arkansas    0.78        0.76           0.84
4  California    0.68        0.58           0.75
_____________________________________________________________

Average household income:

        state  overall white_areas nonwhite_areas
0     Alabama  62307.3     69916.7        45542.3
1      Alaska  92875.9     99587.1        76386.9
2     Arizona  70637.7     78061.2        56253.7
3    Arkansas  59274.7     63886.7        43748.5
4  California  91757.1      107227        77126.3
_____________________________________________________________
END STATE DATA LOAD.

In [10]:
engine.table_names()

['st_median_student_loan_debt',
 'st_share_student_loan_holders_with_student_loan_de',
 'st_median_student_loan_debt_in_collections',
 'st_median_monthly_student_loan_payment',
 'st_share_people_with_a_credit_record_who_have_stud',
 "st_share_without_a_bachelor's_degree",
 'st_average_household_income',
 'co_share_with_student_loan_debt',
 'co_median_student_loan_debt',
 'co_share_student_loan_holders_with_student_loan_de',
 'co_median_student_loan_debt_in_collections',
 'co_median_monthly_student_loan_payment',
 'co_share_people_with_a_credit_record_who_have_stud',
 "co_share_without_a_bachelor's_degree",
 'co_average_household_income',
 'st_share_with_student_loan_debt']

In [11]:
pd.read_sql_query('SELECT * FROM co_median_monthly_student_loan_payment', con=engine).head()

           county    state overall white_areas nonwhite_areas
0  Autauga County  Alabama     215         221           n/a*
1  Baldwin County  Alabama     162         164           n/a*
2  Barbour County  Alabama    n/a*        n/a*           n/a*
3     Bibb County  Alabama    n/a*        n/a*           n/a*
4   Blount County  Alabama     129         129           n/a*